# OS
.DS_Store
Thumbs.db

# Editor
.idea/
chrome_extension/.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log

# Build output
dist/
build/

# Dependencies
node_modules/

# Environment
.env
.env.local

.claude
